.backButtonPosi {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.buttonStyle {
    background-color: white !important;
    border-radius: 100% !important;
    height: 60px !important;
    width: 60px !important;
}

.positionIcon {
    transform: translate(18px, 20px);
}